<strong>SPARKS & STICKS</strong> AT OGGI THURSDAY July 27<br>

<img src="/static/media/graphics/site/sparksandsticks.jpg" height="480" width="640" alt="Sparks and Sticks"><br>

Effervescent Sublime Vibrations<br>
SPARKS & STICKS continues their regular every other Thursday gig at OGGI<br>
(217 Prospect Park West) in Park Slope, Brooklyn, from 7 to 9 pm through August.<br>

More than Country Jazz Folk Rock R&B          MUSIC! FUN!<br>

SPARKS & STICKS    Sonic Incandescence
