<div id="pic">
    <h2>The History of Mystery</h2><br>
    <img src="/static/media/graphics/magic-history/richard-cohn-magic-circle-centanary.jpg" height="500" width="386" alt="Richard Cohn presenting at the Magic Circle Centanary"><br>
    Richard Cohn presenting at the Magic Circle Centenary
</div>

<div id="info">
    <p>Richard Cohn has written on magic history for a variety of publications. His particular areas of expertise include conjurors involved in early cinema (<i>Who Put the Magic in Movies?</i>, SMPTE Journal); The Magic of Coney Island; The Magic of Brooklyn (<i>Brooklyn Magicians in the Brooklyn Eagle Prior to 1903</i>); and the History of Magic Shops, Manufacturers and Dealers. He has been featured in articles in The New York Times, New York Daily News, and The New York Sun.</p>
</div>
