<div id="pic">
    <h2>Magic of Coney Island</h2><br>
    <div id="gallery">
        <div id="galleria">
            <a href="/static/media/graphics/coney-island/creations-roltair-at-coney-island-m.jpg">
                <img src="/static/media/graphics/coney-island/creations-roltair-at-coney-island-t.jpg" data-big="/static/media/graphics/coney-island/creations-roltair-at-coney-island-l.jpg" data-description="Creations-Roltair at Coney Island" alt="Creations-Roltair at Coney Island"></a>
            <a href="/static/media/graphics/coney-island/dreamland-at-coney-island-m.jpg">
                <img src="/static/media/graphics/coney-island/dreamland-at-coney-island-t.jpg" data-big="/static/media/graphics/coney-island/dreamland-at-coney-island-l.jpg" data-description="Dreamland at Coney Island" alt="Dreamland at Coney Island"></a>
            <a href="/static/media/graphics/coney-island/dreamland-circus-at-coney-island-m.jpg">
                <img src="/static/media/graphics/coney-island/dreamland-circus-at-coney-island-t.jpg" data-big="/static/media/graphics/coney-island/dreamland-circus-at-coney-island-l.jpg" data-description="Dreamland Circus at Coney Island" alt="Dreamland Circus at Coney Island"></a>
            <a href="/static/media/graphics/coney-island/hubers-museum-m.jpg">
                <img src="/static/media/graphics/coney-island/hubers-museum-t.jpg" data-big="/static/media/graphics/coney-island/hubers-museum-l.jpg" data-description="Huber's Museum at Coney Island" alt="Huber's Museum at Coney Island"></a>
        </div>
    </div>
</div>

<div id="text">
    <p>
      Richard has presented programs of <i>The Magic of Coney Island</i> for the Magic Circle of London, the Society of American Magicians, and <a href="http://nemca.com/wp/" target="_blank">the New England Magic Collectors Association</a>. He regularly performs and consults at The Coney Island Museum on Surf Avenue in Coney Island, Brooklyn, USA.
    </p>
</div>



