<div id="pic">
    <h2>The Magical Melodions</h2><br>
    <div id="gallery">
        <div id="galleria">
            <a href="/static/media/graphics/mm/magical-melodions-m.jpg">
                <img src="/static/media/graphics/mm/magical-melodions-t.jpg" data-big="/static/media/graphics/mm/magical-melodions-l.jpg" data-description="Magical Melodions" alt="Magical Melodions"></a>
            <a href="/static/media/graphics/mm/magical-melodions-2-m.jpg">
                <img src="/static/media/graphics/mm/magical-melodions-2-t.jpg" data-big="/static/media/graphics/mm/magical-melodions-2-l.jpg" data-description="Magical Melodions" alt="Magical Melodions"></a>
            <a href="/static/media/graphics/mm/magical-melodions-alexandra-m.jpg">
                <img src="/static/media/graphics/mm/magical-melodions-alexandra-t.jpg" data-big="/static/media/graphics/mm/magical-melodions-alexandra-l.jpg" data-description="Magical Melodions - Alexandra Baltarzuk" alt="Magical Melodions - Alexandra Baltarzuk"></a>
            <a href="/static/media/graphics/mm/magical-melodions-richard-m.jpg">
                <img src="/static/media/graphics/mm/magical-melodions-richard-t.jpg" data-big="/static/media/graphics/mm/magical-melodions-richard-l.jpg" data-description="Magical Melodions - Richard Cohn" alt="Magical Melodions - Richard Cohn"></a>
            <a href="/static/media/graphics/mm/magical-melodions-3-m.jpg">
                <img src="/static/media/graphics/mm/magical-melodions-3-t.jpg" data-big="/static/media/graphics/mm/magical-melodions-3-l.jpg" data-description="" alt=""></a>
        </div>
    </div>
</div>

<div id="text">
    <p>
      Celebrate the fabulous melodies of the '20s, '30s, and '40s in a sparkling
      entertainment that brings good times and happy memories to young and old
      alike.  Toe-tapping tunes plus a dash of novelty magic is the winning
      combination that makes this outstanding show delightfully different!
    </p>
    <br>
    <h4>Special Events ⋅ Banquets ⋅ Corporate Functions ⋅ Holiday Parties ⋅
    Performing Arts Centers ⋅ Hotels & Resorts</h4>
</div>
